# Git cache directory
.git

# Visual Studio cache directory
.vs
*.user

# Output directory
out/
x64/

# Application logs
logs/

# Package directories
packages/

# Temporary directories
enc_temp_folder/
